rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, create, update, delete: if isOwner(userId);

      match /diagrams/{diagramId} {
        allow read, create, update, delete: if isOwner(userId);

        match /chunks/{chunkId} {
          allow read, create, update, delete: if isOwner(userId);
        }

        match /photos/{photoId} {
          allow read, create, update, delete: if isOwner(userId);
        }
      }
    }
  }
}
